#root{
  width: 100%;
  height: 100%;
  background-color: #282c34;
}

#root .connectHolder{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding-top: 10em;
  justify-content: center;
  align-items: center;
}

#root .dataHolder{
  width: 100%;
  margin: 3em;
  color: #A569FF;
  font-size: 2rem;
}

#root .dataHolder .data{
  width: 100%;
  margin-bottom: 1em;
  text-align: center;
}

#root .dataHolder .data span{
  color: #fff;
}